# Python virtual environment
.venv/

datasets/
Datasets/
Backup/

__pycache__/
*.py[cod]
*$py.class

dist/
build/
*.egg-info/

.ipynb_checkpoints

.env

.idea/
.vscode/
*.swp
*.swo

.DS_Store
Thumbs.db 


*[Bb]ackup* 
Module4AudioRegenerator/Analysis/Audios/backup/
Module4AudioRegenerator/Analysis/Audios/Other Generated audios/ 